<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Obrigado por nos apoiar!</h3>
        <h4 class="mb-0 font-weight-light">Nos encontre em qualquer uma das plataformas.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a  routerLink="#" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Seguir">
          <i class="fa fa-twitter"></i>
        </a>
        <a  routerLink="#" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Curtir">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a routerLink="#" >Edson Ferreira</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a routerLink="#" class="nav-link" >Edson Ferreira</a>
          </li>
          <li class="nav-item">
            <a routerLink="#" class="nav-link" >Sobre</a>
          </li>
          <li class="nav-item">
            <a routerLink="#" class="nav-link" >Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="#" class="nav-link" >MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
